@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

/* open-sans-condensed-300 - cyrillic_latin */
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/open-sans-condensed-v12-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
		 url('../fonts/open-sans-condensed-v12-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/open-sans-condensed-v12-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/open-sans-condensed-v12-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/open-sans-condensed-v12-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/open-sans-condensed-v12-cyrillic_latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
  }
