.slider {

	&__item {
		margin: 0 auto;
	}
}

$slick-arrow-color: rgb(0, 0, 0) !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-prev,
.slick-next {
	position: absolute;
	height: 20px;
	width: 20px;
	line-height: 0px;	
	font-size: 22px;
	cursor: pointer;
	color: black;
	border: solid currentColor;
	border-width: 0 .2em .2em 0;
	display: inline-block;
	padding: .20em;
	margin: 0;
	padding: 0;
	top: 44%;
	background: transparent;
	z-index: 999999;
	&:hover, &:focus {
		outline: none;
		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}
}

.slick-prev {
	left: 309px;
	transform:rotate(135deg);
}

.slick-next {
	right: 343px;
	transform:rotate(-45deg);
}